        </div>
        <aside class="secondary vcard author" role="complementary">
          <img alt="Goofy picture of Alec eating a Pac Man" class="secondary-photo photo" src="/assets/img/alec-reynolds.jpg">
          <p>Greetings! I'm <strong class="fn">Alec Reynolds</strong>, most folks think of me as a technologist and co-founder of <strong>Kalamuna</strong>. Learn more <a href="/about/" class="url">about me</a>.</p>
          <p>Take a peek at my thoughts and feel free to <a href="mailto:alec@kalamuna.com" class="email">reach out</a> with any comments, questions, or just to say hello!</p>
          <ul class="aside-links">
            <li>
              <a class="icon-left" href="https://twitter.com/reynoldsalec" title="Follow @reynoldsalec on Twitter"><i class="fa fa-twitter"></i> Follow me on Twitter</a>
            </li>
            <li>
              <a class="icon-left" href="https://www.linkedin.com/pub/alec-reynolds/22/8a8/b08/" title="Connect with @reynoldsalec on LinkedIn"><i class="fa fa-linkedin-square"></i> Connect with me on LinkedIn</a>
            </li>
          </ul>
        </aside>
      </div>
      <footer class="site-footer" role="contentinfo">
        <ul class="footer-icons">
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-twitter" href="http://twitter.com/reynoldsalec" title="Follow me on Twitter">
              <span class="footer-icon-title">Twitter</span>
            </a>
          </li>
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-github" href="http://github.com/reynoldsalec" title="Follow me on GitHub">
              <span class="footer-icon-title">GitHub</span>
            </a>
          </li>
        </ul>
        <p>
          <a class="link-rss" href="/atom.xml" title="Subscribe to my RSS feed">
            <span aria-hidden="true" class="icon-blank"></span>
            <span aria-hidden="true" class="icon-rss"></span>
            <span class="visuallyhidden">RSS Feed</span>
          </a>
        </p>
      </footer>
    </div>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  </body>
</html>
